extends partials/layout.jade

block content   
 .container
  .row
    .col-md-12
      .well.well-sm
        form.form-horizontal(method='post')
          fieldset
           text-left.header Contactenos
            .form-group
              span.col-md-1.col-md-offset-2.text-center
                i.fa.fa-user.bigicon
              .col-md-8
                input#fname.form-control(name='name', type='text', placeholder='Nombre')
            .form-group
              span.col-md-1.col-md-offset-2.text-center
                i.fa.fa-envelope-o.bigicon
              .col-md-8
                input#email.form-control(name='email', type='text', placeholder='Dirección de Correo Electrónico')
            .form-group
              span.col-md-1.col-md-offset-2.text-center
                i.fa.fa-pencil-square-o.bigicon
              .col-md-8
                textarea#message.form-control(name='message', placeholder='Escribe tu Mensaje', rows='7')
            .form-group
              .col-md-12.text-center
                button.btn.btn-primary.btn-lg(type='Enviar') Enviar
 script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="/static/js/bootstrap.js")

    
