extends partials/layout.jade

block content 
  head
   html(lang='en')
        head
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
            meta(name='description', content='')
            meta(name='author', content='')
            link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700', rel='stylesheet')
            title Pixie - Ecommerce HTML5 Template
            // Bootstrap core CSS
            link(href='/static/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
            // Additional CSS Files
            link(rel='stylesheet', href='static/css/fontawesome.css')
            link(rel='stylesheet', href='static/css/tooplate-main.css')
            link(rel='stylesheet', href='static/css/owl.css')
            //
              
        body
            // Pre Header
            #pre-header
                  .container
                        .row
                              .col-md-12
                                    span Suspendisse laoreet magna vel diam lobortis imperdiet
            // Navigation
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.static-top
                  .container
                        a.navbar-brand(href='#')
                              img( height="60" width="150" src='static/images/header-logo.png', alt='')
                        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                              span.navbar-toggler-icon
                        #navbarResponsive.collapse.navbar-collapse
                              ul.navbar-nav.ml-auto
                                    li.nav-item.active
                                          a.nav-link(href='index.html')
                                                | Home
                                                span.sr-only (current)
                                    li.nav-item
                                          a.nav-link(href='products.html') Products
                                    li.nav-item
                                          a.nav-link(href='about.html') About Us
                                    li.nav-item
                                          a.nav-link(href='contact.html') Contact Us
            // Page Content
            // Banner Starts Here
            .banner
                  .container
                        .row
                              .col-md-12
                                    .caption
                                          h2 PET SHOP HUANCAYO E.I.R.L
                                          .line-dec
                                          p
                                                | Nuestra empresa se dedica a la producción y comercialización de accesorios para las mascotas; al igual brindamos atención medica, belleza canina y felina. 
                                                br
                                                br
                                                | Pet-shop te ofrece uno de los mejores servicios de la zona, con una gran relación calidad-precio, lo que nos convierte en uno de los referentes más competitivos del mercado.
                                                br
                                                a(rel='nofollow', href='https://es-la.facebook.com/pages/category/Company/Pet-Shop-Veterinaria-Huancayo-EIRL-137878490009558/') Facebook de la empresa
                                              
                                                | .
                                          .main-button
                                                a(href='#') Order Now!
            // Banner Ends Here
            // Featured Starts Here
            .featured-items
                  .container
                        .row
                              .col-md-12
                                    .section-heading
                                          .line-dec
                                          h1 Featured Items
                              .col-md-12
                                    .owl-carousel.owl-theme
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida1.jpg', alt='Item 1')
                                                      h4 Dog chow Abrazos tartitas
                                                      h6 $15.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida2.jpg', alt='Item 2')
                                                      h4 Dog chow Premios Mix de frutas
                                                      h6 $25.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida2.jpg', alt='Item 3')
                                                      h4 Dog chow abrazos Integral Mini
                                                      h6 $35.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida4.jpg', alt='Item 4')
                                                      h4 Dog Chow Adulto razas 
                                                      h6 $45.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida5.jpg', alt='Item 5')
                                                      h4 Whiskas Pescado - 10kg
                                                      h6 $55.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida6.jpg', alt='Item 6')
                                                      h4 Whiskas Carne y Leche - 10 kg
                                                      h6 $65.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida7.png', alt='Item 7')
                                                      h4 Whiskas Friskies 7.2kg
                                                      h6 $75.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida8.jpg', alt='Item 8')
                                                      h4 Whiskas Friskies 10.2kg
                                                      h6 $85.00
                                          a(href='single-product.html')
                                                .featured-item
                                                      img(src='static/images/comida9.jpg', alt='Item 9')
                                                      h4 Whiskas Friskies 11.2kg
                                                      h6 $95.00
            // Featred Ends Here
            // Subscribe Form Starts Here
            .subscribe-form
                  .container
                        .row
                              .col-md-12
                                    .section-heading
                                          .line-dec
                                          h1 Visita nuestra tienda!
                              .col-md-8.offset-md-2
                                    .main-content
                                          p
                                                | Nuestro Centro Veterinario dispone de 9:00 am a 6:00 pm de servicio para urgencias veterinarias con previa cita.
                                          .container
                                                form#subscribe(action='', method='get')
                                                      .row
                                                            .col-md-7
                                                                  fieldset
                                                                        input#email.form-control(name='email', type='text', onfocus="if(this.value == 'Your Email...') { this.value = ''; }", onblur="if(this.value == '') { this.value = 'Your Email...';}", value='Your Email...', required='')
                                                            .col-md-5
                                                                  fieldset
                                                                        button#form-submit.button(type='submit') Registrate!
            // Subscribe Form Ends Here
            // Footer Starts Here
            .footer
                  .container
                        .row
                              .col-md-12
                                    .logo
                                          img(src='static/images/header-logo.png', alt='')
                              .col-md-12
                                    .footer-menu
                                          ul
                                                li
                                                      a(href='#') Home
                                                li
                                                      a(href='#') Help
                                                li
                                                      a(href='#') Privacy Policy
                                                li
                                                      a(href='#') How It Works ?
                                                li
                                                      a(href='#') Contact Us
                              .col-md-12
                                    .social-icons
                                          ul
                                                li
                                                      a(href='https://es-la.facebook.com/pages/category/Company/Pet-Shop-Veterinaria-Huancayo-EIRL-137878490009558/')
                                                            i.fa.fa-facebook
                                                li
                                                      a(href='#')
                                                            i.fa.fa-twitter
                                                li
                                                      a(href='#')
                                                            i.fa.fa-linkedin
                                                li
                                                      a(href='#')
                                                            i.fa.fa-rss
            // Footer Ends Here
            // Sub Footer Starts Here
            .sub-footer
                  .container
                        .row
                              .col-md-12
                                    .copyright-text
                                          p
                                                | Copyright © 2019 Company Name 
                                                | - Design: 
                                                a(rel='nofollow', href='https://www.facebook.com/tooplate') Tooplate
            // Sub Footer Ends Here
            // Bootstrap core JavaScript
            script(src='static/vendor/jquery/jquery.min.js')
            script(src='static/vendor/bootstrap/js/bootstrap.bundle.min.js')
            // Additional Scripts
            script(src='static/js/custom.js')
            script(src='static/js/owl.js')
            script(language='text/Javascript').
                  
