extends partials/layout.jade

block content 
  
  h1(align='center') MISION
  p.text-danger Nuestra misión es satisfacer las necesidades de todos nuestros clientes y  partner así como también de nuestros  trabajadores, con el objetivo de maximizar la eficiencia y optimizar la rentabilidad a través de nuestra  diferenciación en calidad de producto, servicio y precio.
  h2(align='center') VISION
  p.text-danger Nuestra visión es conseguir la fidelización de nuestros clientes a través de comercialización de productos de calidad, a partir de la cual afianzar un crecimiento progresivo y sostenido en el mercado nacional